<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head') %>
  <title>Queue</title>
</head>
<body>
  <h1>Queue</h1>
  <ul>
    <% patients.forEach((patient, index) => { %>
      <li><%= index+1 %>: <%= patient.name %></li>
    <% }) %>
  </ul>
  <%- include('./partials/scripts') %>
  <a href="/">Add more</a>
  <a href="/queue">See Queue</a>
</body>
</html>
